<div class="card bg-dark text-white">
<img
src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
class="img-fluid"
/>
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Newspaper project</p>
    <%= link_to "Guest login ", users_guest_sign_in_path, method: :post, class:"btn btn-primary" %>
    <%= link_to "Admin login", users_admin_guest_sign_in_path, method: :post,class:"btn btn-primary" %>
  </div>
</div>
